<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>내 MBTI 선택</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>자신의 MBTI를 선택하세요!</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/input/TF">T</a>
            <a class="btn btn-lg btn-secondary" href="/input/TF">F</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>